.container {
	background: url(../images/harmony.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Source Code Pro', monospace;
	font-size: 18px;
}

h1 {
	font-size: 55px;
	margin-bottom: 20px;
}

button {
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: #ff751a;
	border-color: #e63900;
}

.item {
	float: left;
	color: #00cccc;
	text-shadow: 1px 1px black, -1px -1px black, 2px 2px black, -1px -1px black;
	margin-right: 20px;
}

label {
	color: #00cccc;
}

form {
	margin-top: 20px;
}

#add-instrument {
	margin-top: 8px;
}